body {
    background: #1a1a1a;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    line-height: 2;
}

.accordion {
    margin: auto;
    border-radius: 10px;
    min-width: 300px;
    max-width: 950px;
    padding: 10px;
    background: #1a1a1a;
}

.topic-list {
    list-style: none;
    margin: 0;
    padding: 0;   
}

.accordion li {
    margin: 0;
    padding: 0;
}

.in-process {
    color: #F2D600;
}

.completed  {
    color: #61BD4F;
    list-style-type: none;
    text-indent: -20px;
}

.completed::before {
    content: "✓\a0\a0"
}

.accordion [type=radio], .accordion [type=checkbox] {
    display: none;
}

.accordion label {
    display: block;
    font-size: 16px;
    line-height: 16px;
    background: #1a1a1a;
    color: white;
    cursor: pointer;
    text-transform: uppercase;    
    user-select: none;
}

.accordion ul li label:hover, .accordion [type=radio]:checked ~ label, .accordion [type=checkbox]:checked ~ label {
    background:white;
    color: #1a1a1a;
}

.accordion .content {
    padding: 0 10px;
    overflow: hidden;
    font-size: medium;
    border: 1px solid #fff;
    transition: all .25s cubic-bezier(0.4, 0.0, 0.2, 1);
    -moz-transition: all .25s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.accordion .content ul {
    margin: 10px 10px 10px 0;
    padding: 0 0 0 20px;
}

.accordion p {
    color: white; 
    margin: 0 0 10px;
}

.accordion h4 {
    color: white;
    padding: 0;
    margin: 10px 0;
}

.vertical ul li label {
    padding: 16px;
}

.vertical [type=radio]:checked ~ label, .vertical [type=checkbox]:checked ~ label {
    border-bottom: 0;
}

.vertical ul li .content {
    height: auto;
    max-height: 0;
    transition: all .25s cubic-bezier(0.4, 0.0, 0.2, 1);
    -moz-transition: all .25s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.vertical [type=checkbox]:checked ~ label ~ .content {
    max-height: 1500px;
    border: 1px solid white;
}

::-webkit-scrollbar {
    width: 8px;  
    border-radius: 10px;
    background: #1f1f1f;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #151515;
}